In [ ]:
'''
Wald's Test, Z-test, and t-test
'''
import pandas as pd
import numpy as np

state = pd.read_csv('23.csv')

In [ ]:
state['Date'] = pd.to_datetime(state['Date'])  
february = (state['Date'] >= '2021-02-01') & (state['Date'] <= '2021-02-28')
march = (state['Date'] >= '2021-03-01') & (state['Date'] <= '2021-03-31')

In [ ]:
state_feb = state[february]
state_march = state[march]

cases_VA_feb = state_feb[['Date', 'VA confirmed']]
cases_count_VA_feb = cases_VA_feb['VA confirmed']

deaths_VA_feb = state_feb[['Date', 'VA deaths']]
deaths_count_VA_feb = deaths_VA_feb['VA deaths']

cases_UT_feb = state_feb[['Date', 'UT confirmed']]
cases_count_UT_feb = cases_UT_feb['UT confirmed']

deaths_UT_feb = state_feb[['Date', 'UT deaths']]
deaths_count_UT_feb = deaths_UT_feb['UT deaths']

cases_VA_mar = state_march[['Date', 'VA confirmed']]
cases_count_VA_mar = cases_VA_mar['VA confirmed']

deaths_VA_mar = state_march[['Date', 'VA deaths']]
deaths_count_VA_mar = deaths_VA_mar['VA deaths']

cases_UT_mar = state_march[['Date', 'UT confirmed']]
cases_count_UT_mar = cases_UT_mar['UT confirmed']

deaths_UT_mar = state_march[['Date', 'UT deaths']]
deaths_count_UT_mar = deaths_UT_mar['UT deaths']

In [ ]:
def walds_one(feb, march):
  theta_hat = np.mean(feb)
  theta_0 = np.mean(march)

  se = np.sqrt(theta_hat / len(march))

  walds_statistic = (theta_hat - theta_0) / se

  if np.abs(walds_statistic) > 1.96:
    print("|W| = ", np.abs(walds_statistic), " > 1.96, therefore reject the Null Hypothesis")
  else:
    print("|W| = ", np.abs(walds_statistic), " <= 1.96, therefore accept the Null Hypothesis")

In [ ]:
walds_one(deaths_count_UT_feb, deaths_count_UT_mar)

|W| =  31.172891168763257  > 1.96, therefore reject the Null Hypothesis

In [ ]:
walds_one(cases_count_UT_feb, cases_count_UT_mar)

|W| =  169.5916851488749  > 1.96, therefore reject the Null Hypothesis

In [ ]:
walds_one(cases_count_VA_feb, cases_count_VA_mar)

|W| =  386.3680317489496  > 1.96, therefore reject the Null Hypothesis

In [ ]:
walds_one(deaths_count_VA_feb, deaths_count_VA_mar)

|W| =  181.22032132577195  > 1.96, therefore reject the Null Hypothesis

In [ ]:
def z_one(original, feb, march):
  #Z test requires true standard deviation, so we need to find that
  sigma = np.std(original)

  x_bar = np.mean(feb)
  mu_0 = np.mean(march)


  sigma_over_sqrtn = sigma / np.sqrt(len(feb))

  z_statistic = (x_bar - mu_0) / sigma_over_sqrtn

  if np.abs(z_statistic) > 1.96:
    print("|Z| = ", np.abs(z_statistic), "> 1.96 therefore reject the null hypothesis")
  else:
    print("|Z| = ", np.abs(z_statistic), "<= 1.96therefore accept the null hypothesis")

In [ ]:
z_one(state['VA confirmed'], cases_count_VA_feb, cases_count_VA_mar)

|Z| =  1.371705720445352 <= 1.96therefore accept the null hypothesis

In [ ]:
z_one(state['VA deaths'], deaths_count_VA_feb, deaths_count_VA_mar)

|Z| =  5.108579550253789 > 1.96 therefore reject the null hypothesis

In [ ]:
z_one(state['UT confirmed'], cases_count_UT_feb, cases_count_UT_mar)

|Z| =  0.7020619767080907 <= 1.96therefore accept the null hypothesis

In [ ]:
z_one(state['UT deaths'], deaths_count_UT_feb, deaths_count_UT_mar)

|Z| =  1.8576534274536443 <= 1.96therefore accept the null hypothesis

In [ ]:
def walds_two(feb, march):
  x_bar = np.mean(feb)
  y_bar = np.mean(march)
  delta_hat = x_bar - y_bar

  #Since we're using Poisson MLE, variance will be lambda / n
  
  se_hat = np.sqrt((x_bar / len(feb)) + (y_bar / len(march)))

  walds_statistic = delta_hat / se_hat

  if np.abs(walds_statistic) > 1.96:
    print("|W| = ", np.abs(walds_statistic), " > 1.96, therefore reject the Null Hypothesis")
  else:
    print("|W| = ", np.abs(walds_statistic), " <= 1.96, therefore accept the Null Hypothesis")

In [ ]:
walds_two(cases_count_UT_feb, cases_count_UT_mar)

|W| =  115.44969347830576  > 1.96, therefore reject the Null Hypothesis

In [ ]:
walds_two(deaths_count_UT_feb, deaths_count_UT_mar)

|W| =  20.83218579296163  > 1.96, therefore reject the Null Hypothesis

In [ ]:
walds_two(cases_count_VA_feb, cases_count_VA_mar)

|W| =  260.4310819769535  > 1.96, therefore reject the Null Hypothesis

In [ ]:
walds_two(deaths_count_VA_feb, deaths_count_VA_mar)

|W| =  114.81653434010379  > 1.96, therefore reject the Null Hypothesis

In [ ]:
def t_one(feb, march):
  x_bar = np.mean(feb)
  mu_0 = np.mean(march)

  ssd = np.std(feb)

  s_over_n = ssd / np.sqrt(len(feb))
  t = (x_bar - mu_0) / s_over_n

  if np.abs(t) > 2.051831:
    print("|t| = ", np.abs(t), "> 2.051831 therefore reject the null hypothesis")
  else:
    print("|t| = ", np.abs(t), "<= 2.051831 therefor accept the null hypothesis")

In [ ]:
t_one(cases_count_UT_feb, cases_count_UT_mar)

|t| =  13.711719528357026 > 2.051831 therefore reject the null hypothesis

In [ ]:
t_one(deaths_count_UT_feb, deaths_count_UT_mar)

|t| =  17.85120765089191 > 2.051831 therefore reject the null hypothesis

In [ ]:
t_one(cases_count_VA_feb, cases_count_VA_mar)

|t| =  13.113863589190032 > 2.051831 therefore reject the null hypothesis

In [ ]:
t_one(deaths_count_VA_feb, deaths_count_VA_mar)

|t| =  26.739252053774308 > 2.051831 therefore reject the null hypothesis

In [ ]:
def t_two_unpaired(feb, march):
  x_bar = np.mean(feb)
  y_bar = np.mean(march)
  d_bar = x_bar - y_bar

  sx = np.var(feb) / len(feb)
  sy = np.var(march) / len(march)
  sx_sy = np.sqrt(sx + sy)

  t = d_bar / sx_sy

  if np.abs(t) > 2.002465:
    print("|t| = ", np.abs(t), "> 2.002465 therefore reject the null hypothesis")
  else:
    print("|t| = ", np.abs(t), "<= 2.002465 therefore reject the null hypothesis")

In [ ]:
t_two_unpaired(cases_count_UT_feb, cases_count_UT_mar)

|t| =  11.910784809405355 > 2.002465 therefore reject the null hypothesis

In [ ]:
t_two_unpaired(deaths_count_UT_feb, deaths_count_UT_mar)

|t| =  14.159815154650781 > 2.002465 therefore reject the null hypothesis

In [ ]:
t_two_unpaired(cases_count_VA_feb, cases_count_VA_mar)

|t| =  11.357687622323128 > 2.002465 therefore reject the null hypothesis

In [ ]:
t_two_unpaired(deaths_count_VA_feb, deaths_count_VA_mar)

|t| =  21.770162931599856 > 2.002465 therefore reject the null hypothesis

AR(3) & AR(5)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pandas_datareader as pdr
import seaborn as sns

# from statsmodels.tsa.ar_model import AutoReg
# from statsmodels.tsa.stattools import adfuller
# from sklearn.metrics import mean_squared_error

file = 'https://raw.githubusercontent.com/michaelofsbu/CSE-544-Datasets/main/States%20Data/23.csv'
state = pd.read_csv(file)
state['Date'] = pd.to_datetime(state['Date'])  

aug = (state['Date'] >= '2020-08-01') & (state['Date'] <= '2020-08-31')
state_aug = state[aug]
state_aug = state_aug.reset_index()

In [ ]:
# mean absolute percent error
def mape(actual, Predicted):
  mape = np.mean(np.abs((actual - Predicted)/actual))*100
  return mape

# mean squared error
def msev(actual, Predicted):
  mse = np.square(np.subtract(actual, Predicted)).mean()
  return mse

# Autoregression model and p as the lags value
def ar(p, df, train_size, col):
  # Add f-*p columns to dataframe
  for i in range(1, p+1):
    df['f-%d' % i ] = df[col].shift(i)

  # Breaking data into training and test set and remove the null value
  train = pd.DataFrame(df[:train_size]).dropna()
  test = pd.DataFrame(df[train_size:])

  # Separate the f-*p columns as data, first column as labels
  train_data = train.iloc[:,1:].values.reshape(-1, p)
  train_label = train.iloc[:,0].values.reshape(-1, 1)
  test_data = test.iloc[:,1:].values.reshape(-1, p)

  # Running linear regression to generate the coefficents and interceptions
  from sklearn.linear_model import LinearRegression
  lr = LinearRegression()
  lr.fit(train_data, train_label)

  # Use the autoregression formula y(t) = intercept + Σ coef(i) * y(t-i)
  # to compute the predicted y(t) value
  pred = test_data.dot(lr.coef_.T) + lr.intercept_
  pred = pred.flatten()

  # Compute the mse and mape value
  mse = msev(test[col], pred)
  mape_percent = mape(test[col], pred)

  # Report the accuracy
  print('AR('+str(p)+') mape: ', round(mape_percent,2), '%\tmse:', round(mse))


cols = ['UT confirmed',	'VA confirmed',	'UT deaths',	'VA deaths']

for col in cols:
  # data = state_aug[col]
  data = pd.DataFrame(state_aug[col])
  print(col)
  ar(3, data, 21, col)
  ar(5, data, 21, col)
  print()

UT confirmed
AR(3) mape:  0.14 %	mse: 6014
AR(5) mape:  0.33 %	mse: 36549

VA confirmed
AR(3) mape:  0.28 %	mse: 143442
AR(5) mape:  0.48 %	mse: 366682

UT deaths
AR(3) mape:  0.71 %	mse: 9
AR(5) mape:  0.8 %	mse: 13

VA deaths
AR(3) mape:  0.66 %	mse: 351
AR(5) mape:  0.5 %	mse: 244